@charset "UTF-8";

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.slackside-one-regular {
  font-family: "Slackside One", cursive;
  font-weight: 400;
  font-style: normal;
}
.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}

.zen-maru gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.saira-<uniquifier> {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


*/

:root {
    --accent-color : #fff100;
    --base-color : #ccc;
}

body {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    background-color: var(--base-color);
}

.container {
    padding: 20px;
}

.contents-box {
    max-width: 1200px;
    margin: 0 auto;
}


.main-title {
    font-weight: 600;
    font-style: italic;

    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;

}

.header-sub-title {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.p-text {
    font-family: "Ephesis", cursive;
    font-size: 36px;
    font-weight: 900;
    color: var(--accent-color);
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 40px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px 0;
    margin: 0 auto;
    ;
}

.skill-list li {
    font-weight: 600;
    font-style: italic;

    width: 45%;
    font-size: 50px;
    color: #fff;
    border-radius: 10px;
    line-height: 3;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;

}

.skill-list li:nth-child(1) {
    background-image: url(../img/portfolio-01.jpg);
}

.skill-list li:nth-child(2) {
    background-image: url(../img/portfolio-02.jpg);
}

.skill-list li:nth-child(3) {
    background-image: url(../img/portfolio-03.jpg);
}

.skill-list li:nth-child(4) {
    background-image: url(../img/portfolio-04.jpg);
}

.skill-list li a {
    display: block;
    padding: 20px 0;
}

.skill-list li:hover {
    border-radius: 30px 60px;
    transform: scale(110%);
    transition: all 0.3s ease-in-out;

}

/* illustrator and Photoshop */

.contents-area {
    max-width: 600px;
    margin: 0 auto;
}


.main-text {
    font-weight: 400;
    font-style: normal;

    font-size: 16px;
    margin-bottom: 70px;
}


.img-contents {
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 40px;
    background-color: #ddd;
    border-radius: 10px;
}
.img-contents li {
    line-height: 1.5;
    border-bottom: 1px dotted #999;
}
.img-contents li a {
    display: block;
}


.img-list li {
    margin-bottom: 70px;
}

.sect-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}

.sect-text {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 15px;
}


.img-box {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}

/* Go To Top */
#go-to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    line-height: 30px;
    border-radius: 20px;
    background-color: #31a8ff;
    opacity: 0.5;
    width: 70px;
    padding: 20px;
    text-align: center;
}
#go-to-top::before {
    content: "";
    display: inline-block;
    height: 13px;
    width: 13px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: translateY(20%) rotate(-45deg);
}


/* Font Awesome */
.img-contents li a::before {
    font-family: "Font Awesome 6 Free";
    content: '\f030';
    padding-right: 10px;
}




@media screen and (max-width:640px) {

.skill-list li {
    width: 90%;
}

/* illustrator and Photoshop */
.main-title {
    font-size: 48px;
}

#go-to-top {
    width: 50px;
    padding: 10px;
}


}