@charset "UTF-8";

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.slackside-one-regular {
  font-family: "Slackside One", cursive;
  font-weight: 400;
  font-style: normal;
}
.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}

.zen-maru gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}




*/

:root {
    --morikaku-red : #f55;
    --morikaku-gray : #ccc;
}

body {
    font-family: "Slackside One", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: var(--morikaku-gray);
}

.header-title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.header-sub-title {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.p-text {
    font-family: "Ephesis", cursive;
    font-size: 36px;
    color: var(--morikaku-red);
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 40px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px 0;
    margin: 0 auto;
    ;
}

.skill-list li {
    width: 40%;
    font-size: 60px;
    color: var(--morikaku-gray);
    border-radius: 10px;
    line-height: 3;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;

}

.skill-list li:nth-child(1) {
    background-image: url(../img/portfolio-01.jpg);
}

.skill-list li:nth-child(2) {
    background-image: url(../img/portfolio-02.jpg);
}

.skill-list li:nth-child(3) {
    background-image: url(../img/portfolio-03.jpg);
}

.skill-list li:nth-child(4) {
    background-image: url(../img/portfolio-04.jpg);
}

.skill-list li a {
    display: block;
    padding: 20px 0;
}

.skill-list li:hover {
    border-radius: 30px 60px;
    transform: scale(110%);
    transition: all 0.3s ease-in-out;

}

.main-title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.img-box {
    width: 600px;
    margin: 0 auto 40px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}